.header_bg{
    background-color: rgba(10, 25, 47, 0.85);
    backdrop-filter: blur(10px);
}
.header{
    padding: 1.4rem;
    margin-bottom: 2rem;
}
.nav_Header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    letter-spacing: 2px;
}
.lista_header{
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-right: 2vw;
}
.lista_header li a{
    color: var(--white);
    position: relative;
    cursor: pointer;
}
.lista_header li a::before{
    content: "";
    width: 0%;
    height: 2px;
    background-color: var(--roxoLigth);
    bottom:-2px;
    position: absolute;
    transition: 200ms all;
}
.lista_header li a:hover::before{
    width: 100%;

}
.menuMobile{
    cursor: pointer;
    z-index: 1000000;
    display: none;
}
.menuMobile div{
  background-color: var(--white);
  width: 30px;
  height: 2px;
  display: block;
  margin: 7px;
}

/* Media Screnn (RESPONSIVIDADE PARA DISPOSITIVOS MENORES) */

@media (max-width:900px) {
    .lista_header li a{
        color: var(--white);
        position: relative;
    }
}

/* Quebra para colocar menu mobile */
@media (max-width:750px) {
    .nav_Header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        letter-spacing: 2px;
    }

    .menuMobile{
        display: block;
    }
    
    .lista_header{
        padding:0.3rem;
        padding-left: 2rem;
        position: absolute;
        display: none;
        gap: 10px;
        flex-direction: column;
        right: -10px;
        top: 4.9rem;
        backdrop-filter: blur(10px);
        background: rgba(196, 196, 196, 0.11);
        box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
        animation:  show-up 1s forwards;
    }

    .lista_header.ativo{
        display: flex;
        animation:  show-Right 400ms linear;
    }

    .lista_header li{
        padding-bottom: 1rem;
    }
    .lista_header li:first-child{
        padding-top: 1rem;
    }
    .lista_header li a:hover {
        opacity: 0.3;
    }
}
