.header_bg{
    backdrop-filter: blur(20px);
    background: rgba(158, 158, 158, 0.11);
}
.header{
    padding: 1.4rem;
}
.nav_Header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    letter-spacing: 2px;
}
.lista_header{
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-right: 2vw;
}
.lista_header li a{
    color: var(--white);
    position: relative;
    cursor: pointer;
}
.lista_header li a::before{
    content: "";
    width: 0%;
    height: 2px;
    background-color: var(--roxoLigth);
    bottom:-2px;
    position: absolute;
    transition: 200ms all;
}
.lista_header li a:hover::before{
    width: 100%;

}
.menu-mobile{
    display: none;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 20px;
}
.menu-mobile div{
    height: 4px;
    width: 30px;
    background-color: rgb(236, 236, 236);
    margin:7px;
}

/* Media Screnn (RESPONSIVIDADE PARA DISPOSITIVOS MENORES) */

@media (max-width:900px) {
    .lista_header li a{
        color: var(--white);
        position: relative;
    }
}

/* Quebra para colocar menu mobile */
@media (max-width:750px) {
    .nav_Header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        letter-spacing: 2px;
    }
    .menu-mobile{
        display: block;
    }
    .menu-mobile.ativo .line2,.line1,.line3{
        transition: 900ms all;
    }
    .menu-mobile.ativo .line2{
        opacity: 0;
        transition: 400ms all;
    }
    .menu-mobile.ativo .line1{
        transform: rotate(-120deg);
        transition: 400ms all;
        position: absolute;
        top: 11px;
    }
    .menu-mobile.ativo .line3{
        transform: rotate(120deg);
        transition: 400ms all;
    }
    
    .lista_header{
        padding:0.3rem;
        padding-left: 2rem;
        position: absolute;
        display: none;
        gap: 10px;
        flex-direction: column;
        right: -10px;
        top: 4.9rem;
        backdrop-filter: blur(10px);
        background: rgba(196, 196, 196, 0.11);
        box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
        animation:  show-up 1s forwards;
    }

    .lista_header.ativo{
        display: flex;
        animation:  show-Right 400ms linear;
    }

    .lista_header li{
        padding-bottom: 1rem;
    }
    .lista_header li:first-child{
        padding-top: 1rem;
    }
    .lista_header li a:hover {
        opacity: 0.3;
    }
    .lista_header li a:hover::before{
        width: 0%;
    }
}
