:root{
    --blueExt:#0A192F;
    --grenn:#64FFDA;
    --roxoLigth:#8892B0;
    --white:#ffff;
    --blueLight: rgb(89, 148, 236);
    --purple:#603EA9;
    --red:rgba(255, 4, 4, 0.397);
}
.red{
    color: var(--red);
}
.green{
    color: var(--grenn);
}
.white{
    color: var(--white);
}
.blueLight{
    color: var(--blueLight);
}
.roxoLigth{
    color: var(--roxoLigth);
}
