@font-face {
    font-family: "Montserrat";
    src: url("../../font-dow/Montserrat-VariableFont_wght.ttf");
}
@font-face {
    font-family: "Centra";
    src: url("../../font-dow/CentraNo2-Medium.ttf");
}
@font-face {
    font-family: "Mono";
    src: url("../../font-dow/RobotoMono-VariableFont_wght.ttf");
}
.montserrat{
    font-family: "Montserrat";
}
.mono{
    font-family: "Mono";
}
.centra{
    font-family: "centra";
}
.font-GG{
    font-size: 4rem;
}
.font-G{
    font-size: 2rem;
}
.font-M{
    font-size: 1.6rem;
}
.font-P{
    font-size: 1rem;
}
.font-PP{
    font: 0.8rem;
}
.font-weightG{
    font-weight:600 ;
}
.font-weightGG{
    font-weight:700 ;
}
.font-letterSpacing2{
    letter-spacing: 2px;
}
.font-letterSpacing1{
    letter-spacing: 1px;
}
/* Media Screnn (RESPONSIVIDADE PARA DISPOSITIVOS MENORES) */

@media (max-width:900px) {
    .font-GG{
        font-size: 2.5rem;
    }
    .font-G{
        font-size: 1.6rem;
    }
    .font-P{
        font-size: 0.9rem;
    }
}
@media (max-width:700px) {
    .font-M{
        font-size: 1.5rem;
    }
    .font-P{
        font-size: 0.8rem;
    }
    .font-GG{
        font-size: 2rem;
    }
    .font-G{
        font-size: 1.5rem;
    }
}
@media (max-width:400px) {
    .font-M{
        font-size: 1.2rem;
    }
    .font-P{
        font-size: 0.7rem;
    }
    .font-GG{
        font-size: 1.5rem;
        font-weight: 500;
    }
    .font-G{
        font-size: 1rem;
    }
}