*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--blueExt);
}
.container{
    max-width: 1200px;
    margin:  0 auto;
}
a, li{
    text-decoration: none;
    list-style: none;
}
img{
    width: 100%;
}