.projetosGrid{
    display: flex;
    gap: 3rem;
    margin: 3rem 0;
}
.Conteudoprojeto h1{
    margin-left: 2rem;
}
.projetosGrid .card{
   background-color:#0d1f3a33 ;
    border-radius: 20px;
    cursor: pointer;
    padding: 2rem 1rem;
}
.projetosGrid .card img{
    max-width: 100%;
    width: 100%; 
     margin: 0;
 }
.projetosGrid .card .text{
    margin: 0 2rem;
    max-width: 600px;
}
.projetosGrid .card .text h3{
    margin: 1rem 0rem;
}
.projetosGrid .card .text p{
    margin-bottom: 2rem;
}
.projetosEmbreve{
    display: none;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
    margin-bottom: 20rem;
    background-color:#0d1f3a33 ;
}
.projetosEmbreve.ativo{
    display: grid;
}
.projetosEmbreve .card .text{
    margin:0 2rem;
    max-width: 600px;
    margin-top: 6rem;
}
.projetosEmbreve .card .text h3{
    margin: 1rem 0rem;
}
.projetosEmbreve .card .text p{
    margin-bottom: 2rem;
}
.emBreve h1{
    transform:rotate(340deg);
    text-align: center;
    cursor: pointer;
    transition: 1s all;
}
.emBreve h1:hover{
    transform:rotate(320deg);
    transition: 1s all;
}
.vizualizar{
    border: 2px solid var(--roxoLigth);
    padding: 5px 20px;
    margin-top: 2rem;
    transition: 1s all;
    border-radius: 10px;
}
.vizualizar .link{
     margin-right: 1rem;
}
@media (max-width:700px) {
    .projetosGrid{
        display: block;
    }
}
