.projeto{
    height: 100vh;
}
.projetosGrid{
    display: flex;
    gap: 3rem;
    margin: 3rem 0;
}
.Conteudoprojeto h1{
    margin-left: 2rem;
}
.projetosGrid .card{
   background-color:#03255833 ;
    border-radius: 20px;
    cursor: pointer;
    padding: 2rem 1rem;
}

.projetosGrid .card:hover{
    transform: scale(0.98);
    transition: all .2s ease-in-out 100ms;
}
.projetosGrid .card img{
    max-width: 100%;
    width: 100%; 
     margin: 0;
 }
 .projetosGrid .card img:hover{
    opacity: 0.8;
}
.projetosGrid .card .text{
    margin: 0 2rem;
    max-width: 600px;
}
.projetosGrid .card .text h3{
    margin: 1rem 0rem;
}
.projetosGrid .card .text p{
    margin-bottom: 2rem;
}
.projetosEmbreve{
    display: none;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
    margin-bottom: 20rem;
    background-color:#0d1f3a33 ;
}

.vizualizar{
    border: 2px solid var(--roxoLigth);
    padding: 5px 20px;
    margin-top: 2rem;
    transition: 1s all;
    border-radius: 10px;
}
.vizualizar:hover{
 letter-spacing: 1px;
}
.vizualizar .link{
     margin-right: 1rem;
}
@media (max-width:700px) {
    .projetosGrid{
        display: flex;
        flex-direction: column;
    }
    .projetosGrid .card{
        padding: 0 1rem 3rem 1rem;
    }

}
