.sobreConteudo{
    display: flex;
    justify-content: space-around;
    margin: 2rem;
}
.sobreConteudo .foto img{
    width: 70%;
    border-radius: 10px;
    border: 2px solid var(--blueLight);
}
.sobreConteudo{
    align-self: center;
}
.sobreConteudo .text h1{
    margin-bottom: 1rem;
}
.sobreConteudo .text p{
    margin-top: 1rem;
}